src/WinformsMVCAsyncExampleNetStandard/Connected Services/ServicioPrueba/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaccion" nillable="true" type="tns:Transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaccion" nillable="true" type="tns:ArrayOfTransaccion" />
  <xs:complexType name="Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaOrigen" type="xs:long" />
      <xs:element minOccurs="0" name="TipoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorTransaccion" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaccion" nillable="true" type="tns:Transaccion" />
  <xs:complexType name="ArrayOfSaldo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Saldo" nillable="true" type="tns:Saldo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaldo" nillable="true" type="tns:ArrayOfSaldo" />
  <xs:complexType name="Saldo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaOrigen" type="xs:long" />
      <xs:element minOccurs="0" name="SaldoCuenta" type="xs:double" />
      <xs:element minOccurs="0" name="Titular" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Saldo" nillable="true" type="tns:Saldo" />
</xs:schema>